html{
    min-height: 100%;
    position:relative;
  }
*{
    padding:0;
    margin:0;
}

.container{
    padding-top: 150px;
}
@media only screen and (max-width: 500px){
    [class*="col-"] {
        width: 100%;
    }
    .container{
        margin-top: 10px;
    }
}
.col-5{
    padding-left: 100px;
}
.col-sm-3{
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}
body{
    background-image:linear-gradient(#e5989b,#b5838d);
    height: 100%;
  width: 100%;}
button{
    background-image:linear-gradient(to right,#e5989b,#6d6875);
    border:none;
    padding:1rem;
    margin-top: 4rem;
    font-weight: 500;
    box-shadow: 5px 5px 10px black;
}
.container-fluid{
    background-color: #b5838d;
}
h2{

}