html{
    min-height: 100%;
    position:relative;
  }
h5{
    color: white;
    font-size:18px;
}
p{
    font-size: 14px;
    
}
.header{
    background-color: brown;
}
.p-4{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #6d6875;
}
body{
    background-image:linear-gradient(to right,white,#e5989b);
}
.container-fluid{
    background-color: #e5989b;
}
a.nav-link{
     color:#6d6875;
}